.incomplete {
    display: none;
}

.header-bar-container {
    display: flex; 
    align-items: center;
    min-height: 50px;
    background-color: transparent;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.header-bar-left {
    display: flex;
    margin-right: auto;
    list-style-type: none;
    justify-content: flex-start;
}

.header-button {
    margin: 20px;
    padding: 35px;
    border-radius: 35px;
    background-color: beige;
}

.header-link {
    text-decoration: none;
}

.hpb-container {
    display: flex;
}

.hpb-text-section {
    border: solid;
}

.hpb-image-section {
    border: solid;
    flex-grow: 1;
}



