.header-bar-container {
    display: flex; 
    align-items: center;
    min-height: 65px;
    background-color: white;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.header-bar-left {
    display: flex;
    margin-right: auto;
    list-style-type: none;
    justify-content: flex-start;
}

.header-button {
    margin: 20px;
}

.header-link {
    text-decoration: none;
}
