.header-bar-container {
    display: flex; 
    align-items: center;
}

.header-bar-left {
    display: flex;
    margin-right: auto;
    list-style-type: none;
    justify-content: flex-start;
}

.header-button {
    margin: 20px;
}

.header-link {
    text-decoration: none;
}
