/*

CSS Style for GENERAL STYLING:
    Used for element selectors, and items outside of React Components

*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

ul {
    margin: 0;
    padding: 0;
}