/*

CSS Style for GENERAL STYLING:
    Used for element selectors, and items outside of React Components

*/

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

a:visited {
    color: black; /* Change to diff FINAL shade */
  }